<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/firstPagge.css">
</head>


<nav>
  
  <a href="about.html"> <img src="images/home.png" alt="now" id="image2" class="home">
  
  </a>

  <a href="selection.html"> 
  <img src="images/growth.png" alt="now" class="home">
</a>


  <a href="home"> 
    
  <img src="images/right-arrow.png" alt="now" class="home">
</a>

</nav>
<body>
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="grid-container">
      <main class="main">
        <div class="main-overview">
          <% for (let i=0; i <labels.length; i++) { %>
            <div class="overviewcard">
              <div class="overviewcard__info">
                <h1>
                  <%= labels[i] %>
                    <br>
                    <span class="smaller">
                      <%= names[i]%>
                    </span>
                </h1>
                <br>
                <h1> $<%= data[i] %>
                </h1>
                <h2>
                  <%= Math.round((data[i]/ somme * 100)) %> %
                </h2>
              </div>
            </div>
            <% } %>
        </div>
        <div class="main-overview5">
          <div class="overviewcard5">
            <canvas id="piechart" width="450" height="500"></canvas>
          </div>
          <div class="overviewcard5">
            <div class="black1">
              <h1 id="black">Equity Style </h1>
              <hr id="line">
              <br>
              <h2>Large Cap Value <%= Math.round(largemC/count) %>
              </h2>
              <br>
              <hr id="line">
              <br>
              <h2> Medium Cap Value  <%= Math.round(mediummC/count) %>
              </h2>
              <br>
              <hr id="line">
              <br>
              <h2> Small Cap Value   <%= Math.round(smallmC/count) %>
              </h2>
              <br>
              <hr id="line">
              <br>
              <h2> Large Growth <%= Math.round(largepE/count) %></h2>
              <br>
              <hr id="line">
              <br>
              <h2> Medium Growth   <%= Math.round(mediumpE/count) %> </h2>
              <br>
              <hr id="line">
              <br>
              <h2> Small Growth <%= Math.round(smallpE/count) %> </h2>
              <br>
            </div>
          </div>
        </div>
      </main>
    </div>




    
</body>

<script>

new Chart(document.getElementById("piechart"), {
    type: 'doughnut',
    data: {
      labels:<%- JSON.stringify(labels)%> ,
      datasets: [
        {
          label: "Portfolio distribution",
          backgroundColor: [

        "  #ef476f ",
        " #fcc035 ",
        
        "#2bcca2 ",
        
        "#118ab2",
        
       "#073b4c",
          "#060047",
        "#ee6c4d", 
         "#357cf0",
      ],
          data: <%- JSON.stringify(data)%>,
        }
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false
    }

  });

</script>

<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
  {
    "symbols": [
      {
        "proName": "FOREXCOM:SPXUSD",
        "title": "S&P 500"
      },
      {
        "proName": "FOREXCOM:NSXUSD",
        "title": "US 100"
      },
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      }
    ],
      "showSymbolLogo": true,
        "colorTheme": "light",
          "isTransparent": false,
            "displayMode": "adaptive",
              "locale": "en"
  }

</script>