<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/secondPage.css">

</head>

<nav>

  <a href="about.html">

    <img src="images/home.png" alt="back" class="home">
  </a>

  <a href="selection.html">
  <img src="images/growth.png" alt="now" class="home">
</a>


  <a href="pie"> 
    <img src="images/right-arrow.png" alt="back" class="arrow">
  </a>
  


</nav>

<body>
  <div class="grid-container">
    <main class="main">

      <div class="main-overview1">
        <div class="overviewcard1">
          <h1>
            <span class="smaller"> Amount Invested</span>
            <br>
            <br>
            <span> $<%= somme %> </span>
          </h1>
        </div>
        <!-- <div class="overviewcard1">
          <h1>
            <span class="smaller">Current Returns</span>
            <br>
            <br>
            <span>  </span>
          </h1>
        </div> -->


      </div>

      <div class="main-overview">
        <% for (let i=0; i < labels.length; i++) { %>
          <div class="overviewcard">
            <div class="overviewcard__info">
              <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"> </div>

                <script type="text/javascript"
                  src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
                    {
                      "symbol": "<%= labels[i] %>",
                        "width": 350,
                          "height": 220,
                            "locale": "en",
                              "dateRange": "12M",
                                "colorTheme": "light",
                                  "trendLineColor": "rgba(41, 98, 255, 1)",
                                    "underLineColor": "rgba(41, 98, 255, 0.3)",
                                      "underLineBottomColor": "rgba(41, 98, 255, 0)",
                                        "isTransparent": true,
                                          "autosize": true,
                                            "largeChartUrl": ""
                    }
                  </script>


              </div>
            </div>
          </div>
          <% } %>
      </div>
      <div class="main-overview5">
        <div class="overviewcard5">
          <canvas id="piechart" width="450" height="500"></canvas>
        </div>
        <div class="overviewcard5">
          <div class="black1">
            <h1 id="black">
              <table class="content-table">
                <thead>
                  <tr>
                    <th class="shadow">Cyclical</th>
                    <th class="shadow1">
                      <%= percyclical * 100 %> %
                    </th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Basic Materials</th>
                    <th>0</th>
                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Consumer Cyclical
                    </th>
                    <th> 0 </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Financial Services
                    </th>
                    <th>
                      <%= perfinance %>
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Real Estate</th>
                    <th>
                      <%= perestate %>
                    </th>

                  </tr>
                </thead>

                <thead>
                  <tr>

                    <th class="shadow">
                      Sensitive</th>
                    <th class="shadow1">
                      <%= persensitive * 100 %> %
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Communication Services</th>
                    <th>0</th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Energy</th>
                    <th>
                      <%= perenergycount %>
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Industrials</th>
                    <th>
                      <%= perindustrials %>
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Technology</th>
                    <th>
                      <%= pertechcount %>
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th class="shadow">Defensive</th>
                    <th class="shadow1">
                      <%= perdefensive * 100 %> %
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Consumer Defensive
                    </th>
                    <th>
                      <%= percstaple %>
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Healthcare</th>
                    <th>
                      <%= perhealth %>
                    </th>

                  </tr>
                </thead>
                <thead>
                  <tr>
                    <th>Utilities</th>
                    <th>0</th>

                  </tr>
                </thead>

              </table>

            </h1>
          </div>

        </div>




      </div>
  </div>



  </main>

  </div>

</body>






</html>










<script>

const data2 = <%- JSON.stringify(data2)%>;
const labels2 = ["cyclical","sensitive","defensive"];;
const ctx2 = document.getElementById("piechart").getContext("2d");
const chart2 = new Chart(ctx2, {
  type: "doughnut",
  data: {
    labels: labels2,
    datasets: [
      {
        data: data2,
        backgroundColor: [
      

          "#b91d47",
          "#00aba9",
          "#2b5797",
          "#e8c3b9",
          "#1e7145",
          "#2b5797",
          "#e8c3b9",
          "#1e7145",
        ],
      },
    ],
  },
}
);
  </script>