html, body {
  height: auto;
  font-size: 20px;
}

body{
  background: rgb(239, 239, 239);
  background: url('background.jpg');
  background-size: fill;
}

hr {
  width: 90%;
  background: rgb(239, 239, 239);
}

.stock-container {
  background-color: rgba(0, 5, 58, 1);
  background-color: rgba(0, 33, 86, 0.9);
  opacity: 0.9;
  color: #ffffff;
  margin: 5% auto;
  width: 66%;
  height: auto;
  border-radius: 5px;
  position: relative;
  top: 30px;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}

.header {
  padding: 34px 34px 0px 34px;
  margin-left: 15px;
  font-size: 32px;
}

.indices {
  padding: 34px;
  margin-left: 15px;
  color: rgb(148, 160, 181);
}

.stock {
  display: flex;
  padding-bottom: 5px;
}

.name, .price, .change {
  flex: 1;
}

#market {
  position: relative;
  margin-left: 15px;
  font-size: 22px;
  padding-left: 34px;
  padding-top: 34px;
}

#update {
  margin-left: 15px;
  padding-left: 34px;
  padding-top: 0px;
  font-size: 22px;
}

#time {
  position: relative;
  left: 20.3%;
  top: -50px;
}

.closeTime {
  margin-left: 15px;
  padding: 0px 34px 34px 34px;
  font-size: 18px;
}

.searchbar {
  width: 50%;
  height: 30px;
  padding-left: 16px;
  margin: 5% 25% 0 25%;
  font-size: 16px;
  background-color: #ddd;
  border-radius: 2px;
  color: #000000;
}

.hidden {
  display: none;
}

#viewChart {
  margin-left: 15px;
  padding-left: 34px;
  color: #ffffff;
}

#stockChart {
  margin-left: 15%;
  width: 113%;
  position: relative;
  left: -10%;
}
