  
.ticker-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: -32em;
}
  
.ticker-canvas {
    width: calc((200px * 15) + 2px);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker-canvas;
    animation-name: ticker-canvas;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
}

@-webkit-keyframes ticker-canvas {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
}
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
}

}
  
@keyframes ticker-canvas {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
}
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
}
}
  .tradingview-widget-container {
    position: relative;
}
  .tradingview-widget-container iframe {
      position: absolute;
      top: 0;
}
  .tradingview-widget-container iframe:nth-of-type(2) {
    left: 100%;
}