.selection-container {
    background-color: rgba(0, 33, 86, 0.9);
    color: #ffffff;
    margin: 5% auto;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: -30em;
    width: 34%;
    height: 40.5em;
    padding: 20px;
}

h2 {
    color: #ffffff;
}

form {
    display:inline-block;
}
  
#stock-picker {
    background-color: rgba(0, 33, 86, 0.9);
    display: inline-block;
    width: 100px;
    color: #ffffff;
    border: 4px solid #fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: -3px;
    left: 35px;
}

.searchbar {
    width: 100%;
    height: 44px;
    padding-left: 16px;
    font-size: 16px;
    background-color: #ddd;
    border-radius: 2px;
    color: #000000;
}

.listing {
    overflow: hidden;
    width: 65%;
    font-weight: bold;
}
  
.listing *:hover {
    cursor: pointer;
    opacity: 0.5;
}
  
.listing *:hover:after {
    content: "remove";
    padding-left: 10px;
    font-size: 12px;
    display: inline-block;
    color: #ff0000;
}
  
.listing:nth-child(odd) {
    color: #ffffff;
    position: relative;
    left: 15px;
    text-transform: uppercase;
}

.listing div:nth-of-type(1n+13) {
    display: none;
} 
  
.weighing-container {
    display: flexbox;
    width: 60px;
    height: 20px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 8px;
    position: absolute;
    left: 53.5%;
    top: 18%;
}
.weighing-container > .weighing {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 2px;
    color: #000000;
}

#backtest {
    display: inline-block;
    width: 150px;
    color: #ffffff;
    border: 4px solid #fff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 63%;
}

#backtest:hover {
    background-color: rgba(0, 33, 86, 0.9);
}

.testing-container {
    border: #999999 solid 1px;
    border-radius: 5px;
    position: absolute;
    top: 12.5%;
    left: 42%;
    width: 57em;
    height: 40em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
