body {
    margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}

p:empty:not(:focus)::before {
  content: attr(about-placeholder);
  font-style: italic;
  color: #b1b1b1;
}

p:focus {
  content: attr(about-placeholder);
  background-color:#eceff4f8;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}

#profile {
    background-color: #007ae1;
    color: white;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    cursor: pointer;
    padding-left: 76px;
    padding-right: 77px;
    padding-top: 3px;
    padding-bottom: 2px;
    position: absolute;
    left: 12.3%;
    top: 6%;
}
#inverse-right {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: #007ae1;
    left: 13.68%;
    top: 6%;
  }
#inverse-right:before {
    content: "";
    position:absolute;
    top: 30px;
    left: 195px;
    transform: rotate(180deg);
    height:40px;
    width: 40px;
    border-bottom-left-radius: 0.3rem;
}
#inverse-right:before {
    box-shadow: 0 20px 0 0 #007ae1;
 }
 #inverse-left {
    position: absolute;
    width: 200px;
    height: 20px;
    background-color: #007ae1;
    left: 15%;
    top: 6%;
  }
#inverse-left:before {
    content: "";
    position:absolute;
    top: 30px;
    left: -40px;
    transform: rotate(180deg);
    height:40px;
    width: 40px;
    border-bottom-right-radius: 0.3rem;
}
#inverse-left:before {
    box-shadow: 0 20px 0 0 #007ae1;
 }
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
    text-align: justify;
}

#edit-button, #end-editing {
    width: 38%;
    height: auto;
}

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}
.form-control:hover {
    border-color: #007ae1;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}

.btn {
    width: 12%;
    height: auto;
}