@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
     overflow-x: hidden !important;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Poppins;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden !important;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 80px;
     padding-bottom: 0px;
}
.padding_0{
    padding: 0px;
}
.padding_left_0{
    padding-left: 100px;
}
.header_section {
    width: 100%;
    float: left;
}
.header_bg{
  width: 100%;
  float: left;
  background-color: #f8f9fa!important;
}
.header_left{
    width: 50%;
    float: left;
}
.header_right{
    width: 50%;
    float: left; 
}
.banner_img{
    width: 100%;
    float: left; 
}
.bg-light {
    background-color: transparent!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 13px;
    padding-left: 13px;
    font-size: 18px;
    color: #2e2d2e;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #007bff;
}



/* Search Start*/
.search-container {
    float: right;
    padding-right: 13px;
  }
  .search-container button {
    float: right;
    padding: 2px 10px;
    margin-top: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
form {
    background-color: #ddd;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
  }
  input {
    all: unset;
    font: 16px system-ui;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  ::placeholder {
    color: #000000;
    opacity: 0.7; 
  }
  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
/* Search End*/

.profile-text a {
    font-size: 20px;
    background-color: rgba(0, 33, 86, 0.9);
    padding: 7px;
    color: #ffffff;
    border-radius: 0.3rem;
}

.banner_main{
    width: 100%;
    float: left;
    padding-left: 100px;
}
.banner_taital {
    width: 100%;
    float: left;
    font-size: 60px;
    color: #2e2d2e;
    padding-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
.banner_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #2e2d2e;
    margin-left: 0px;
}
.highlight {
    color: #007bff;
    font-weight: 500;
}
.btn_main {
    width: 100%;
    float: left;
    padding-top: 75px;
}
.more_bt {
    width: 170px;
    float: left;
}

.more_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    border: 2px solid #ff5a58;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.more_bt a:hover {
    color: #000;
    border: 2px solid #ff5a58;
}
.contact_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}
.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #181818;
    border: 2px solid #4aafff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.contact_bt a:hover {
    color: #181818;
    border: 2px solid #ff5a58;
}
.services_section {
    width: 100%;
    float: left;
    background-image: url(../images/services-bg.png);
    height: auto;
    margin-top: 75px;
    padding-bottom: 60px;
    background-size: 100%;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 34px;
    color: #282c47;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.services_taital::after {
    content: '';
    background-color: #ff5a58;
    position: absolute;
    width: 60px;
    text-align: center;
    right: initial;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}
.services_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #060606;
    margin-left: 0px;
}
.moremore_bt {
    width: 170px;
    float: left;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}

.moremore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4aafff;
    border: 2px solid #88c6f8;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.moremore_bt a:hover {
    color: #181818;
    border: 2px solid #ff5a58;
}
.image_1{
    width: 100%;
    float: left;
}

.what_we_do_section{
    width: 100%;
    float: left;
}
.what_taital {
    width: 100%;
    float: left;
    font-size: 34px;
    color: #060606;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.what_taital::after {
    content: '';
    background-color: #ff5a58;
    position: absolute;
    width: 60px;
    text-align: center;
    right: 0;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 7px;
    left: 0;
    border-radius: 100px;
}

.what_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #060606;
    margin-left: 0px;
    text-align: center;
    margin-top: 0px;
}
.what_we_do_section_3{
    width: 100%;
    float: left;
    margin-top: 90px;
    margin-left: 290px;
}
.what_we_do_section_2{
    width: 100%;
    float: left;
    margin-top: 90px;

}
.box_main {
    width: 100%;
    float: left;
    background-color: #1b5a8d;
    border-radius: 10px;
    padding: 30px 0px;
    box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
.box_main:hover{
    background-color: #ff5a58;
}
.icon_1 {
    width: 100%;
    float: left;
    text-align: center;
    min-height: 70px;
}

.icon_a{
    width: 20%;
    float:inline-start;
    text-align: center;
    min-height: 70px;
}
.accounting_text{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.lorem_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}
.moremore_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.moremore_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 40px;
}
.moremore_bt_1 a:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}
.project_section{
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.project_main{
    width: 100%;
    float: left;
    padding-top: 200px;
}
.image_6 {
    width: 100%;
    float: left;
    position: relative;
    left: -100px;
    top: -50px;
}
.images_main{
    width: 100%;
    float: left;
}
.images_left{
    width: 50%;
    float: left;
}
.images_right {
    width: 47%;
    float: left;
    margin-top: 70px;
    margin-left: 12px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_1:hover .image {
  opacity: 0.3;
  background-color: rgb(71.0.5.9.5)!important;

}

.container_1:hover .middle {
  opacity: 1;
  z-index: 2;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.container_1 {
    position: relative;
    margin-top: 12px;
}
.container_1::after{
    display: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(225 ,225 ,225 ,0.8);
    width: 100%;
    height: 100%;
}

.container_1:hover::after{
    display: block;
}
.fact_text{
    width: 100%;
    float: left;
    font-size: 15px;
    color: #060606;
    text-align: center;
}

.project_section_2 {
    width: 100%;
    float: left;
    background-color: #ff5a58;
    height: auto;
    padding: 50px 0px 40px 0px;
}
.accounting_text_1{
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.yers_text {
    width: 100%;
    float: left;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
}
.team_section{
    width: 100%;
    float: left;
}
.what_text_1 {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    color: #060606;
    text-align: center;
}
.team_section_2{
    width: 100%;
    float: left;
}
.image_7{
    width: 100%;
    float: left;
    text-align: center;
    border: 2px solid #ff5a58;
    border-radius: 100%;
/*
    animation-name: pictures;
    animation-duration: 4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    */
}

/* Border Animation
@keyframes pictures {
    from {background-color: #ff5a58;}
    to {background-color: #007bff;}
}

 */  
.readable_text{
    width: 100%;
    float: left;
    font-size: 18px;
    text-align: center;
    color: #060606;
    margin-left: 0px;
    font-weight: 450;
}
.readable_text_1{
    width: 100%;
    float: left;
    font-size: 18px;
    text-align: center;
    color: #ff5a58;
    margin: 0px;
    font-weight: 450;
}
.social_icon{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.social_icon ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.social_icon li{
    float: left;
    padding: 20px 3px 0px 3px;
}
.client_section {
    width: 100%;
    float: left;
    padding-bottom: 140px;
}
.client_section_2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.client_section_2 ul{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
.client_section_2 li {
    float: left;
    padding: 50px 15px 0px 15px;
}
.round_1{
    padding-top: 50px;
}
.round_2{
    padding-top: 30px;
}
.dummy_text{
    width: 79%;
    margin: 0 auto;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding-top: 30px;
}
.carousel-indicators .active {
    background-color: #1b5a8d;
}
.carousel-indicators li {
    width: 60px;
    height: 15px;
    background-color: #ff5a58;
    border-radius: 4px;
    bottom: -80px;
}

.contact_section {
    width: 100%;
    float: left;
}

.amet_text {
    width: 100%;
    float: left;
    color: #1e1e1e;
    font-size: 16px;
    text-align: center;
    margin-left: 0px;
}
.contact_section2 {
    width: 100%;
    float: left;
    padding-top: 80px;
}
.mail_section {
    width: 90%;
    float: left;
    padding-left: 50px;
}
.mail_text_1 {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #666666;
    background-color: transparent !important;
    border-bottom: 1px solid #050000 !important;
    padding-right: 20px;
    border: 0px;
    padding-top: 20px;
}
.massage_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #666666;
    background-color: transparent !important;
    border-bottom: 1px solid #050000 !important;
    padding-right: 20px;
    border: 0px;
    height: 70px;
    padding-top: 30px;
}
.send_bt {
    width: 170px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
}
.send_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #ff5a58;
    padding: 10px 0px;
    text-transform: uppercase;
    border-radius: 30px;
}

.footer_section{
    width: 100%;
    float: left;
    background-color: #121212;
    height: auto;
}
.about_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #fffcf4;
}
.location_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fffcf4;
    padding-top: 18px;
}
.padding_left_15 {
    padding-left: 15px;
}
.dolor_text{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fffcf4;
    padding-top: 10px;
    margin: 0px;
    line-height: 40px;
}
.mail_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #d1d2d3;
    background-color: #ffffff;
    height: auto;
    padding: 5px 15px;
    margin-top: 18px;
}
.subscribe_bt{
    width: 100%;
    float: left;
}
.subscribe_bt a{
    width: 170px;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #ff5a58;
    height: auto;
    padding: 5px 0px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 22px;
}
.footer_social_icon{
    width: 100%;
    float: left;
}
.footer_social_icon ul{
    margin: 0px;
    padding: 0px;
}
.footer_social_icon li {
    float: left;
    padding: 35px 15px 0px 0px;
}
.footer_images{
    width: 100%;
    float: left;
}
.footer_images_left {
    width: 32%;
    float: left;
}
.footer_images_right{
    width: 50%;
    float: left;
}
.image_12 {
    width: 88%;
    float: left;
    margin-top: 15px;
}

.copyright_section {
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #fff;
    margin-top: 55px;
    text-align: center;
}
.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
    padding: 10px 0px;
}
.copyright_text a{
    color: #ffffff
}
.copyright_text a:hover{
    color: #ff5a58;
}
.margin_top_90{
  margin-top: 90px;
}
