:root {
    --chart-height: 675px;
    --chart-row: 3;
}
  
body{
    margin:0;
    padding: 0;
}
  
.m-grid {
    display: grid;
    grid-template-columns: repeat(var(--chart-row), 1fr);
    gap: 0px;
    grid-auto-rows: var(--chart-height);
    width: 4420px;
    position: relative;
    left: 0%;
    top: 0px;
}
.tradingview-widget-container{
    height: var(--chart-height) !important; 
}
  