#tool {
    position: relative;
    left: 12%;
    top: 20px;
    font-weight: 600;
}

iframe {
    width: 100%; 
    height: 1001px; 
    border: 0;
    position: relative;
    top: 20px;
}

hr {
    position: relative;
    width: 76%;
    background: rgb(239, 239, 239);
}

#metrics {
    position: relative;
    left: 12%;
    top: 20px;
    font-weight: 600;
}

.main {
    position: relative;
    left: 12%;
    top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    width: 23em;
    padding: 10px;
    border-radius: 5px;
}

.rent {
    position: relative;
    margin-top: 30px;

}

.item {
    position: relative;
    top: -15px;
}

.spacing {
    position: relative;
    top: 3px;
}
  
#coc {
    width: 15em;
    margin-top: 15px;
    background-color: rgba(0, 33, 86, 0.9);
    border-color: rgba(0, 33, 86, 0.9);
}

.roi {
    position: relative;
    left: 39%;
    top: -23.2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    width: 23em;
    padding: 10px;
    border-radius: 5px;
}

#roi-return {
    width: 15em;
    margin-top: 15px;
    background-color: rgba(0, 33, 86, 0.9);
    border-color: rgba(0, 33, 86, 0.9);
}

.cap-rate {
    position: relative;
    left: 66%;
    top: -53.1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    width: 23em;
    padding: 10px;
    border-radius: 5px;
}

#cap-return {
    width: 15em;
    margin-top: 15px;
    background-color: rgba(0, 33, 86, 0.9);
    border-color: rgba(0, 33, 86, 0.9);
}

#curly-brace {
  width: 1140px;
  position: absolute;
  left: 11%;
  top: 230%;
  color: rgba(0, 33, 86, 0.9);
}

.brace {
  border-bottom: 5px solid;
  margin: 0 10%;
  width: 30%;
  height: 20px;  
  float: left;
}

.brace:before, .brace:after {
  content: "";
  width: 10%;
  height: 50px;
  position: absolute;
  display: block;
}

#left:before {  
  border-bottom: 5px solid;  
  border-bottom-left-radius: 20px;
  margin-left: -10%;
  margin-top: -30px;
}

#left:after {
  border-top: 5px solid;
  border-top-right-radius: 20px;
  margin-left: 30%;
  margin-top: 15.5px;    
}

#right:before {
  border-top: 5px solid;
  border-top-left-radius: 20px;
  margin-left: -10%;
  margin-top: 15.5px;
}

#right:after {
  border-bottom: 5px solid;
  border-bottom-right-radius: 20px;
  margin-left: 30%;
  margin-top: -30px;
}

#investor {
    position: relative;
    left: 45%;
    top: -25.5em;
    font-weight: 600;
    color: #007bff;
}

#line {
    position: relative;
    top: -38em;

}

#integration {
    position: relative;
    top: -33.5em;
    left: 40%;
    margin-bottom: -30em;
    border-radius: 5px;
}