

  body {
  margin: 0;
  padding: 0;
  color: #f9f7f7;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  background-color: #F9F9F9;
}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows:50px 1fr 50px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 1000vh;
}



.main {
  grid-area: main;
  /* background-color: #ECF9FF; */
   /* #ffffff; */
}


.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 279px;
  grid-gap: 20px;
  margin: 20px; 
}
.overviewcard {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 20px;

    border: #999999 solid 1px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    height: 210px;


}
.main-overview5 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-auto-rows: 579px;
  grid-gap: 20px;
  margin: 20px; 

}
.overviewcard5 {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 20px;

    border: #999999 solid 1px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
    height: 630px;
    color: #030303;


}

.main-overview2 {
  display: grid;
  grid-template-columns: 1fr ;
  grid-auto-rows: 550px;
  grid-gap: 20px;
  margin: 20px;
  
  
  
}
.overviewcardSpecial1{
  display: grid; 
  grid-template-columns: 3fr  4fr;
  /* align-items: center;   */
  grid-auto-rows: 100px;
  justify-content: space-between; 
  padding: 20px;
  background-color:rgb(255, 255, 255);
 
   /*  #F5EAEA; */
  /* border: #999999 solid 1px;  */
  border-radius: 15px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
  height: 1000px;
  width: 97%; 
}

.overviewcardSpecialKid1{
  padding: 20px;
  background-color: rgb(255, 255, 255);
 
  /* border: #999999 solid 1px;  */
  border-radius: 5px; 
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);  */
  height: 500px;
  width: 300px; 
}

.overviewcardSpecial{
  display: grid; 
  grid-template-columns: 3fr  4fr;
  /* align-items: center;   */
  justify-content: space-between; 
  padding: 20px;
  background-color:rgb(255, 255, 255);
 
   /*  #F5EAEA; */
  /* border: #999999 solid 1px;  */
  border-radius: 15px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
  height: 1000px;
  width: 97%; 
 
}

.overviewcardSpecialKid{
  padding: 20px;
  background-color: rgb(255, 255, 255);
  
  /* border: #999999 solid 1px;  */
  border-radius: 5px; 
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);  */
  height: 500px;
  width: 300px; 
}


.overviewcard2 {
   /* display: flex; */
  /* align-items: center;  */
  /* justify-content: space-between; */
  padding: 20px;
  background-color: rgb(255, 255, 255);
  /* border: #999999 solid 1px;  */
  border-radius: 5px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
  height: 700px;
  /* width: 97%; */

}


.main-overview3 {
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: space-between; 
  grid-auto-rows: 670px;
  grid-gap: 20px;
 margin: 20px; 
  
  
  
}
.overviewcard3 {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between;  */
  padding: 20px;
  background-color: rgb(255, 255, 255);
  /* border: #999999 solid 1px;  */
  border-radius: 15px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
  height: 585px;


  }


.main-overview4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 94px;
  grid-gap: 20px;
  margin: 20px;
  
  
  
}
.overviewcard4 {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between;  */
  padding: 20px;
  background-color: rgb(255, 255, 255);
  /* border: #999999 solid 1px;  */
  border-radius: 5px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
  height: 485px;
  


}




  /* hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #8d8d8d;
    height: 1px;
  } */


#line {

    /* float: right; */
    width: 811px;
    height: 1px;
    background-color:#8d8d8d;
    margin: auto;
} 
 
img {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex; 
  margin-right: 250px;
  padding: 10px;
  top: 0;
    width: 98.5%;
} 
  /* Non-mobile styles, 750px breakpoint */


  nav {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(119, 119, 119);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* position: fixed; */
    top: 0;
    width: 98.5%;

    z-index: 1;
  }

  img {
    width: 3%;
    height: 3%;
  }

  /* h2{
text-align: center;
 color: #030303; 
} */

  h1,
  h2 {
    margin-top: 0;
    margin-bottom: 0.5em;

  }

  .smaller {
    font-size: 0.6em;
  }

  .black {
    color: #030303;
   text-align: center;  
  }

  #black1 {
    color: #ae1313;

  }
  #black {
    color: #030303;
    text-align: center;  

  }


  .overviewcard:first-child {
    background-color: #4382e8;
  }

  .overviewcard:nth-child(2) {
    background-color: #ee6c4d;
  }

  .overviewcard:nth-child(4) {
    background-color: #023047
  }

  .overviewcard:nth-child(3) {
    background-color: #ffb703;
  }





  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;

    width: 900px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  }

  .content-table thead tr {
    background-color: hsl(0, 0%, 100%);
    color: #161616;
    text-align: left;
    font-weight: bold;
  }



  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }

  .headers {
    /* background-color: hsl(242, 54%, 47%); */
    background-color: #f3f3f3;
  }

  tr {
    border-bottom: 1px solid #dddddd;

  }


  .shadow {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);  */
    background-color: #dddddd;

  }



