
.arrow{
  width: 10%;
  height: 10%;
}

.home{
  width: 10%;
  height: 10%;
}
.margings{
margin-right: 1250px;
}
body {
margin: 0;
padding: 0;
color: #000000;
font-family: 'Ubuntu', sans-serif;
box-sizing: border-box;


}


/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
display: grid;
grid-template-columns: 1fr ;
grid-template-rows:50px 1fr 50px;
grid-template-areas:
  'header'
  'main'
  'footer';
height: 150vh;
}



.main {
grid-area: main;
/* background-color: #ECF9FF; */
 /* #ffffff; */
}


.main-overview {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
grid-auto-rows: 300px;
grid-gap: 20px;
margin: 20px; 
background-color: #ffffff;
}
.overviewcard {
display: flex;
/* align-items: center; */
/* justify-content: space-between; */
padding: 20px;

  border: #999999 solid 1px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  height: 210px;
  background-color: #ffffff;

}

.overviewcard1 {
display: flex;
  /* align-items: center;   */
/* justify-content: space-between; */
justify-content: center;
align-items:center;
padding: 16px;

  border: #999999 solid 1px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
   position:relative; 
top: 10%;
left: 50%;
right: 50%;
transform: translate(-50%, -50%);
width: 100%;
height: 90px;
background-color: #ffffff;
}


.main-overview1 {
display: grid;
grid-template-columns: 1fr ; 
grid-auto-rows: 110px;
grid-gap: 20px;
margin: 20px; 
background-color: #ffffff;

}
.main-overview5 {

display: grid;
grid-template-columns: 4fr 5fr;
grid-auto-rows: 579px;
grid-gap: 20px;
margin: 20px; 
background-color: #ffffff;


}
.overviewcard5 {
display: flex;
/* align-items: center; */
/* justify-content: space-between; */
padding: 20px;

  border: #999999 solid 1px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  height: 610px;


}

.main-overview2 {
display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: 375px;;
grid-gap: 20px;
margin: 20px;



}

.overviewcardSpecial{
display: grid; 
grid-template-columns: 3fr 4fr;
/* align-items: center;   */
justify-content: space-between; 
padding: 20px;
background-color:rgb(255, 255, 255); 

 /*  #F5EAEA; */
/* border: #999999 solid 1px;  */
border-radius: 15px; 
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);  */
height: 100px;
width: 97%; 

}

.overviewcardSpecialKid{
padding: 20px;
background-color: rgb(255, 255, 255);

/* border: #999999 solid 1px;  */
border-radius: 5px; 
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);  */
height: 700px;
width: 700px; 
}


.overviewcard2 {
 /* display: flex; */
/* align-items: center;  */
/* justify-content: space-between; */
padding: 20px;
background-color: rgb(255, 255, 255);
/* border: #999999 solid 1px;  */
border-radius: 5px; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
height: 700px;
/* width: 97%; */

}


.main-overview3 {
display: grid;
grid-template-columns: 3fr 4fr;
justify-content: space-between; 
grid-auto-rows: 670px;
grid-gap: 20px;
margin: 20px; 



}
.overviewcard3 {
display: flex;
/* align-items: center; */
/* justify-content: space-between;  */
padding: 20px;
background-color: rgb(255, 255, 255);
/* border: #999999 solid 1px;  */
border-radius: 15px; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
height: 585px;


}


.main-overview4 {
display: grid;
grid-template-columns: 1fr;
grid-auto-rows: 94px;
grid-gap: 20px;
margin: 20px;



}
.overviewcard4 {
display: flex;
/* align-items: center; */
/* justify-content: space-between;  */
padding: 20px;
background-color: rgb(255, 255, 255);
/* border: #999999 solid 1px;  */
border-radius: 5px; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20); 
height: 485px;




}

#line {

  /* float: right; */
  width: 711px;
  height: 1px;
  background-color:#8d8d8d;
  margin: auto;
} 



nav {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(119, 119, 119);
  display: flex;
  justify-content: space-evenly;;
  align-items: center;
  padding: 10px;
  /* position: fixed; */
  top: 0;
  width: 98.5%;

  z-index: 1;
}

img {
  width: 3%;
  height: 3%;
}


span{
    /* height: 100px;  */
    align-items: center; 
    text-align: center; 
    font-size: 140%;
}
.smaller {
  color: #4441ff;
  font-size: 0.6em;
}

/* .black {
  color: #030303;
 text-align: center;  
}*/

#black1 {
  color: #030303;

}

 .overviewcard:first-child {
  background-color: #ffffff;
}

.overviewcard:nth-child(2) {
  background-color: #ffffff;
}

.overviewcard:nth-child(4) {
  background-color: #ffffff
}

.overviewcard:nth-child(3) {
  background-color: #ffffff;
} 



.overviewcard1:first-child {
background-color: #ffffff;
}

.overviewcard1:nth-child(2) {
background-color: #ffffff;
}

.overviewcard1:nth-child(4) {
background-color: #4382e8;}

.overviewcard:nth-child(3) {
background-color: #ffffff
} 






.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;

  width: 900px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.content-table thead tr {
  background-color: hsl(0, 0%, 100%);
  color: #161616;
  text-align: left;
  font-weight: bold;
}



.content-table th,
.content-table td {
  padding: 5px 5px;
}

.headers {
  /* background-color: hsl(242, 54%, 47%); */
  background-color: #f3f3f3;
}

tr {
  border-bottom: 1px solid #909090;

}


.shadow {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);  */
  background: linear-gradient(135deg, #71b7e6, #4441ff);

}
.shadow1 {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);  */
  background: linear-gradient(135deg,  #4441ff, #71b7e6);

}

.center_bigger{
font-size: 1em;
margin-left: auto;
margin-right: auto;

}





