
<body>
  <div class="container">
    <div >Add Equity</div>
    <br>
    <div class="content">
      <form action="add" method="POST" >

        <div class="stock">
          <div class="square">
            <span >Equity Ticker</span>
            <br>
            <input type="text" placeholder="Enter Stock/ETF Ticker" name="ticker" required>
          </div>
          <div class="square">
            <span >Purchase Price</span>
            <input type="text" placeholder="Enter Purchase Price"  name="share_price"  required>
          </div>
          <div class="square">
            <span >Number Of Share</span>
            <input type="text" placeholder="Enter Number Of Share"  name="number"  required>
          </div>
          <div class="square">
            <span >Date Of Purchase</span>
            <input type="date"placeholder="Enter Purchase Date"  name="purchased_date"    required>
          </div>
         
         
        </div>

        <div class="button">
          <input type="submit" value="ADD">
        </div>
      </form>


    </div>
  </div>

</body>
</html>

<style>


 *{
  margin: 0px;
  padding: 0px;
   box-sizing: border-box; 
} 
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(165deg, #75b4de, #e0dbe2); 

}

.container{
  width: 40%;
  height: 60%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

 .container .title{
  font-size: 26px;
  font-weight: 404;
  position: center;
} 


form .stock .square{
  margin-bottom: 20px;
  align-items: center;
  /* width: calc(100% / 2 - 20px); */
}



.stock .square input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;

}



 form .button{
  height: 45px;
  margin: 35px 0;
  display: flex;
  justify-content: center;
}
form .button input{
  height: 100%;
  width: 50%;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  /* background: linear-gradient(135deg, #204cfe, #bb6969); */
  background-color: rgb(123, 105, 255);
}

</style>